{#_:paths #_["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        io.pedestal/pedestal.service {:mvn/version "0.5.10"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.10"}}
 :aliases
 {:run-m {:main-opts ["-m" "asuki.clj-pedestal-reload-practice"]}
  #_:run-x #_{:ns-default asuki.clj-pedestal-reload-practice
              :exec-fn greet
              :exec-args {:name "Clojure"}}
  #_:test #_{:extra-paths ["test"]
             :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  #_:runner
  #_{:extra-deps {io.github.cognitect-labs/test-runner
                  {:git/url "https://github.com/cognitect-labs/test-runner"
                   :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
     :exec-fn cognitect.test-runner.api/test}
  #_:uberjar #_{:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                :exec-fn hf.depstar/uberjar
                :exec-args {:aot true
                            :jar "clj-pedestal-reload-practice.jar"
                            :main-class "asuki.clj-pedestal-reload-practice"
                            :sync-pom true}}}}
